
@import "../scss/toolkit";

.App{
  font-size: 1.8rem;
  padding: .5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;

  @include md {
    padding: .5rem 3rem 3rem 3rem;
    flex-flow: row;
  }

  @include md {
    padding: .5rem 4rem 4rem 4rem;
    flex-flow: row;
  }
}

.Page {
  order: 2;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.View{
  min-height: 90vh;
}
